/* @import 'avatar.scss'; */
/* @zhouJ: "./assets/LMY22301333226.jpg"; */
div:nth-of-type(odd) {
  /* background-color: aqureda; */
  /* background-color: red; */
  background-color: springgreen;
}

.counter {
  border: 1px solid springgreen;
  width: 100px;
  height: 109px;
}
body {
  background-color: springgreen;
  background-image: url("./assets/LMY22301333226.jpg");
}